<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd" bootstrap="./vendor/autoload.php" colors="true">
  <testsuites>
    <testsuite name="Integration Test Suite">
      <directory>./tests/Integration</directory>
    </testsuite>
    <testsuite name="Unit Test Suite">
      <directory>./tests/Unit</directory>
    </testsuite>
  </testsuites>
  <php>
    <server name="APP_DEBUG" value="true"/>
    <env name="DB_CONNECTION" value="testing"/>
  </php>
  <source>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
  </source>
</phpunit>
